<!doctype html>

<html>
<head>
    <link rel="stylesheet" href="static/layout.css">
</head>

<body>
<div class="grid"><div class="box0"></div>
    <div class="div-aa"></div>
    <div class="div-a">
        <div class="div-3a"></div>
        <div class="box">
            <iframe name="my-iframe" id="my-iframe" src="static/map.html" frameborder="0" width="1400" height="690"
                    scrolling="no"></iframe>
        </div>
    </div>
    <div class="div-b">
        <div class="box3" id="demoObject">
            <div class="div-dd">
                <div class="box3d"></div>
            </div>
            <div class="div-dd">
                <div class="box3d"></div>
            </div>
            <div class="div-d">
                <div class="box3b">
                    <iframe name="my-iframe1" id="my-iframe2" src="static/SRA.html" frameborder="0" width="240"
                            height="250" scrolling="no" hspace="210" vspace="210"></iframe>
                </div>
            </div>
            <div class="div-dd">
                <div class="box3d"></div>
            </div>
            <div class="box3c">
                <iframe name="my-iframe1" id="my-iframe3" src="static/text1(1).html" frameborder="0" width="450"
                        height="245" scrolling="no" hspace="450" vspace="245"></iframe>
            </div>
        </div>
        <div class="box4" id="demo">
            <iframe name="my-iframe1" id="my-iframe1" src="static/bubble4.html" frameborder="0" width="800" height="400"
                    scrolling="no" hspace="800" vspace="400"></iframe>
        </div>
    </div>
</div>
</body>
</div>
</html>